/* Cambia el color de los enlaces de la barra de navegación a blanco */
.nav-link {
    color: #ffffff !important;
}

/* Define la animación de cambio de colores */
@keyframes cambioColoresAleatorios {
    0% { background-color: #ff0000; } /* Rojo */
    20% { background-color: #ffa500; } /* Naranja */
    40% { background-color: #ffff00; } /* Amarillo */
    60% { background-color: #008000; } /* Verde */
    80% { background-color: #0000ff; } /* Azul */
    100% { background-color: #9b30ff; } /* Violeta */
}

/* Aplica la animación a la barra de navegación */
.navbar-expand-lg {
    animation: cambioColoresAleatorios 2.5s infinite; /* Cambia cada 2.5s para dar 0.5s por color */
}

/* Estilos para elementos con la clase .nav1-item */
.nav1-item {
    background-color: #ff0000; /* Fondo rojo */
    transition: background-color 1s ease; /* Transición suave del color de fondo */
}

/* Cambio de color al pasar el ratón por encima de .nav1-item */
.nav1-item:hover {
    background-color: #101073; /* Fondo azul oscuro */
}

/* Estilos para elementos con la clase .nav2-item */
.nav2-item {
    background-color: #000000; /* Fondo negro */
    position: absolute;
    right: 1vw; /* Posición a la derecha */
}

/* Cambio de color al pasar el ratón por encima de .nav2-item */
.nav2-item:hover {
    background-color: #101073; /* Fondo azul oscuro */
}

/* Estilos adicionales para la barra de navegación en un contenedor .navbar-expand-lg */
body .navbar-expand-lg {
    border: 5px solid #000000; /* Borde negro */
    background-color: #000000 !important; /* Fondo negro */
    transition: background-color 0.5s ease; /* Transición suave del color de fondo */
}
